:root {
  --blue-liner: #4489d0;
  --blue-liner2: #4860c5;
  --magenta-liner: #b12e7f;
  --magenta-liner2: #b32e7f;
  --transition: all 0.5s ease-out;
  --transition-toggle: all 0.5s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  height: 10vh;
  background: var(--blue-liner2);
}
.nav__links {
  display: flex;
  margin-left: auto;
  list-style: none;
  width: 50%;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}
.nav__links li a {
  padding: 0 10px 0 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.landing__page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*   background: url(./mount-bromo.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  height: 90vh; /* 90vh */

  /* 90vh */
}
.landing__page h1 {
  margin: 100px;
  font-size: 50px;
  color: var(--magenta-liner2);
}
/* https://www.hobo-web.co.uk/best-screen-size/ */
@media only screen and (max-width: 768px) {
  nav {
    position: relative;
    display: flex;
  }
  .stack {
    position: absolute;
    cursor: pointer;
    right: 5%;
    /*  top: 50%; */
    transform: rotate(0deg);
    transition: var(--transition-toggle);
    align-self: center;
    /* transform: translate(-5%, -50%); */
    z-index: 2;
  }
  .strip {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .nav__links {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*  transform: rotate(0deg); */
    position: fixed;
    background: var(--blue-liner2);
    height: 100vh;
    width: 100%;
    cursor: pointer;
    clip-path: circle(0% at 90% 10%);
    -webkit-clip-path: circle(0% at 90% 10%);
    transition: var(--transition);
    pointer-events: none;
  }

  .nav__links.toggle {
    clip-path: circle(100% at 50% 10%);
    -webkit-clip-path: circle(100% at 50% 10%);
    pointer-events: all;
    /* transform: rotate(360deg); */
  }
  .stack.toggle {
    transition: var(--transition-toggle);
    transform: rotate(90deg);
  }

  .landing__page {
    flex-direction: column;
  }
  /* .nav__links li {
    opacity: 0;
  }
  .nav__links li a {
    font-size: 25px;
  }
  .nav__links li:nth-child(1) {
    transition: all 0.5s ease-out 0.2s;
  }
  .nav__links li:nth-child(2) {
    transition: all 0.5s ease-out 0.4s;
  }
  .nav__links li:nth-child(3) {
    transition: all 0.5s ease-out 0.6s;
  }
  li.fade {
    opacity: 1;
  } */
}
